In [ ]:
import pandas as pd

df = pd.read_csv("/content/sales_data_sample.csv",encoding="latin1")
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [ ]:
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'], errors= "coerce")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   datetime64[ns]
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
 25  YEAR              2823 non-null   int32
 26  MONTH             2823 non-null   int32
 27  DAY               2823 non-null   int32
dtypes: datetime64[ns](1), float64(2), int32(3), int64(7), object(15)
memory usage: 584.6+ KB

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df[df["QUANTITYORDERED"]<=0]

Empty DataFrame
Columns: [ORDERNUMBER, QUANTITYORDERED, PRICEEACH, ORDERLINENUMBER, SALES, ORDERDATE, STATUS, QTR_ID, MONTH_ID, YEAR_ID, PRODUCTLINE, MSRP, PRODUCTCODE, CUSTOMERNAME, PHONE, ADDRESSLINE1, ADDRESSLINE2, CITY, STATE, POSTALCODE, COUNTRY, TERRITORY, CONTACTLASTNAME, CONTACTFIRSTNAME, DEALSIZE, YEAR, MONTH, DAY]
Index: []

[0 rows x 28 columns]

In [ ]:
df[df["SALES"]<=0]

Empty DataFrame
Columns: [ORDERNUMBER, QUANTITYORDERED, PRICEEACH, ORDERLINENUMBER, SALES, ORDERDATE, STATUS, QTR_ID, MONTH_ID, YEAR_ID, PRODUCTLINE, MSRP, PRODUCTCODE, CUSTOMERNAME, PHONE, ADDRESSLINE1, ADDRESSLINE2, CITY, STATE, POSTALCODE, COUNTRY, TERRITORY, CONTACTLASTNAME, CONTACTFIRSTNAME, DEALSIZE, YEAR, MONTH, DAY]
Index: []

[0 rows x 28 columns]

In [ ]:
df["CALC_SALES"] = df["QUANTITYORDERED"] * df["PRICEEACH"]

(df["SALES"] - df["CALC_SALES"]).abs().describe()

count    2.823000e+03
mean     6.169827e+02
std      1.047729e+03
min      0.000000e+00
25%      0.000000e+00
50%      4.547474e-13
75%      9.251800e+02
max      7.536500e+03
dtype: float64

In [ ]:
ml_df = df[[
    "QUANTITYORDERED",
    "PRICEEACH",
    "PRODUCTLINE",
    "COUNTRY",
    "DEALSIZE"
]].copy()

In [ ]:
ml_df.head()

   QUANTITYORDERED  PRICEEACH  PRODUCTLINE COUNTRY DEALSIZE
0               30      95.70  Motorcycles     USA    Small
1               34      81.35  Motorcycles  France    Small
2               41      94.74  Motorcycles  France   Medium
3               45      83.26  Motorcycles     USA   Medium
4               49     100.00  Motorcycles     USA   Medium

In [ ]:
from sklearn.preprocessing import LabelEncoder

le_productline = LabelEncoder()
le_country = LabelEncoder()
le_dealsize = LabelEncoder()

ml_df["PRODUCTLINE"] = le_productline.fit_transform(ml_df["PRODUCTLINE"])
ml_df["COUNTRY"] = le_country.fit_transform(ml_df["COUNTRY"])
ml_df["DEALSIZE"] = le_dealsize.fit_transform(ml_df["DEALSIZE"])

In [ ]:
ml_df.head()

   QUANTITYORDERED  PRICEEACH  PRODUCTLINE  COUNTRY  DEALSIZE
0               30      95.70            1       18         2
1               34      81.35            1        6         2
2               41      94.74            1        6         1
3               45      83.26            1       18         1
4               49     100.00            1       18         1

In [ ]:
from sklearn.model_selection import train_test_split

# فصل المدخلات عن الهدف
X = ml_df.drop("DEALSIZE", axis=1)
y = ml_df["DEALSIZE"]

# تقسيم البيانات
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print("Training size:", X_train.shape)
print("Testing size:", X_test.shape)

Training size: (2258, 4)
Testing size: (565, 4)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# إنشاء النموذج
model = DecisionTreeClassifier(random_state=42)

# تدريب النموذج
model.fit(X_train, y_train)

# التنبؤ على بيانات الاختبار
y_pred = model.predict(X_test)

# حساب الدقة
accuracy = accuracy_score(y_test, y_pred)
print("Model accuracy:", accuracy)

Model accuracy: 0.8601769911504424

In [ ]:
import pandas as pd

new_order = pd.DataFrame(
    [[50, 95, 1, 18]],
    columns=["QUANTITYORDERED", "PRICEEACH", "PRODUCTLINE", "COUNTRY"]
)

prediction = model.predict(new_order)

print("Predicted deal size:", le_dealsize.inverse_transform(prediction))

Predicted deal size: ['Large']